auto-save-list/
swank
project/
target/
elpa/
tramp
url/
var/
.DS_Store
.mc-lists.el
.org-id-locations
abbrev_defs
eshell/
ac-comphist.dat
*.eld
*.cache
recentf
ido.last
network-security.data
.cask
tutorial
.emacs.desktop*
*~
\#*
games
desktop/emacs.desktop
desktop/lock
