auto-save-list/
persp-confs
swank
project/
target/
elpa/
tramp
url/
var/
.DS_Store
.mc-lists.el
.org-id-locations
abbrev_defs
eshell/
ac-comphist.dat
*.eld
*.cache
recentf
ido.last
network-security.data
.cask
tutorial
*~
\#*
games
emacs-desktop
.private.el
magit-process: emacs
transient
bookmarks
/.emacs.desktop.lock
org-clock-save.el
local.el
.lsp-session*
.last-package-update-day
anil/custom.el
org-roam.db
forge-database*
eln-cache
diary
.dap-breakpoints
projects
.persistent-scratch
vendor/*
magithub
history
places
multisession
annotations
code-review-error.log
code-review-db-file.sqlite
tree-sitter
persp-state-file